@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300-500;1,300-500&display=swap');


/*se resetea el formato*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}


body {
    front-family: Raleway;
    color: white;
    background-color: #000000;
    font-weight: 300;
}

header {
    text-align: center;
    padding-bottom: 20px;
    opacidad: 1;
    backgraund-color: #000000;

}
header .frase{
    padding: 10px;
    font: normal normal medium 50px/59px Raleway;
}

header img {
    width: 100%;
}
#description{
    text-align: center;
}
.descripcion {
    padding: 70px;
    display: flex;
    text-align: left;

    
}

.descripcion .imagen {
    height: 100px;
    vertical-align: center;
}

.descripcion .frase-descr {
    vertical-align: center;
    text-align: justify;
    padding-right: 40px;
    font: normal normal 300 16px/19px Raleway;
}






#Caracteristicas {
    background-color: #1E1E13;
   
    height: 450px;

    text-align: center;
    font-size: 20px;
    padding-top: 50px;

    
}

.icono{
    grid-area: iconos;
}

.frase{
    grid-area: frases;
    font: normal normal 300 25px/30px Raleway;
}

#contenedor_imagenes {
    display: grid;
    padding: 60px 0px 10px 10px;
    justify-content: center;
    
   
    font-weight: 500;
    
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    grid-template-areas: ". iconos iconos iconos iconos iconos iconos ."
      ". frases frases frases frases frases frases .";
}

#imagenes_finales{

    vertical-align: center;
}/*
#imagenes_finales div{
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: "img img img";
}*/
#imagenes_finales {
    padding: 50px;
}
#imagenes_finales div img{
    padding-left:5%;
    padding-rigth:2%;
    max-width: 30%;
    justify-content: center;
    text-align: center;
    vertical-align: center;
}

a {
    color: #ffffff;
}
footer{
    padding: 30px;
    text-align: center;
    background-color: #1E1E13;
    font: normal normal 300 20px/24px Raleway;
}